* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 3rem;
  justify-content: center;
  font-family: 'Barlow Semi Condensed', sans-serif;
  background-color: hsl(210, 46%, 95%);
}

p {
  font-weight: 500;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.3fr 0.4fr 0.3fr 0.3fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'daniel daniel jonathan kira'
    'jeanette patrick patrick kira';
  grid-gap: 1.4rem;
  gap: 20px;
  width: 70%;
}

.daniel {
  grid-area: daniel;
}

.jonathan {
  grid-area: jonathan;
}
.kira {
  grid-area: kira;
}

.patrick {
  grid-area: patrick;
}

.grid-item {
  padding: 2em 1.5em;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  gap: 20px;
  position: relative;
  z-index: 1;
}

.grid-item.daniel {
  background-color: hsl(263, 55%, 52%);
}

.grid-item .profile {
  display: flex;
  gap: 1rem;
  align-self: flex-start;
}

.grid-item .profile-pic {
  max-width: 2.5rem;
  border-radius: 50%;
  border: 2px solid white;
}

.grid-item .spans {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.spans .name {
  color: white;
}

.spans .position {
  color: hsl(0, 0%, 81%);
}

.grid-item h3 {
  font-size: 1.5rem;
  color: white;
  font-weight: 500;
}

.grid-item p {
  color: hsl(0, 0%, 81%);
}

.pattern {
  position: absolute;
  width: 8rem;
  top: 0;
  right: 8rem;
  z-index: -1;
}

.grid-item.jonathan {
  background-color: hsl(217, 19%, 35%);
}

.grid-item.kira {
  background-color: white;
}

.kira p {
  color: hsl(219, 29%, 14%);
}

.kira .profile {
  margin-bottom: 2rem;
}

.kira .name {
  color: hsl(217, 19%, 35%);
}

.kira h3 {
  color: hsl(217, 19%, 35%);
  margin-bottom: 3rem;
}

.grid-item.jeanette {
  background-color: white;
  color: hsl(217, 19%, 35%);
}

.grid-item.jeanette h3 {
  color: hsl(217, 19%, 35%);
}
.grid-item.jeanette p {
  color: hsl(217, 19%, 35%);
}

.jeanette .name {
  color: hsl(217, 19%, 35%);
}

.grid-item.patrick {
  background-color: hsl(219, 29%, 14%);
}

@media only screen and (max-width: 1200px) {
  .grid-container {
    display: flex;
    flex-direction: column;
  }
}
